/* CSS declarations go here */
body {
	font-weight: 300;
}

.section .container {
	/*width: 70%;*/
}

.channels-wrapper .card .card-content {
	padding: 0px 20px;
}

.channels-wrapper .collection {
	border: none;
}

.channels-wrapper .collection .collection-item:last-shild{
	border-bottom: none;
}

.messages-wrapper .card-title {
	color: #26a69a !important;
}

.messages-wrapper .collection {
	height: 400px;
	max-height: 400px;
	overflow-y: auto;
	border: none;
}

.messages-wrapper .messages-container {
	position: relative;
}

.messages-wrapper .messages-container:before, .messages-wrapper .messages-container:after  {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	z-index: 100;
	pointer-events: none;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.messages-wrapper .messages-container:after {
	top: auto;
	bottom: 0;
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); 
	background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); 
}
	

.messages-wrapper .collection div.message {
	border-bottom: none;
	margin-bottom: 0;
	padding-top: 10px;
}

.messages-wrapper .collection div.message.editing {
	background: #fffde7;
}

.messages-wrapper .collection div.message:hover {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.messages-wrapper .collection div.message.avatar {
	min-height: 70px;
}

.messages-wrapper .collection div.message .title{
	font-weight: bold;
}

.messages-wrapper .collection div.message .title span{
	font-weight: 300;
	font-size: 12px;
}

.messages-wrapper .collection div.message .secondary-content {
	display: none;
}

.messages-wrapper .collection div.message:hover .secondary-content {
	display: block;
}

.messages-wrapper .collection div.message .secondary-content .material-icons{
	font-size: 24px;
	color: #26a69a;
}