<template name="app">
	<body>
		<div>
			<nav role="navigation" class="teal">
				<div class="container">
					<div class="nav-wrapper">
						<a id="logo-container" href="" class="brand-logo waves-effect waves-light">
							<span>Chat - MeteorJS Demo</span>
						</a>
						<div class="right">
							{{> loginButtons}}
						</div>
					</div>
				</div>
			</nav>
		</div>
		<div class="section">
			<div class="container">	
				<div class="row">
					<div class="right col s12 m12 l9">
						<div class="row">
							<div class="card">
								{{> yield}}
							</div>
						</div>		
					</div>
					<div class="left col s12 m12 l3">
						{{> channels}}
					</div>
				</div>
			</div>
		</div>
	</body>
</template>