<head>
	<meta charset="utf-8">
	<title>Chat</title>
	<!--Import Google Icon Font-->
	  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <!--Import materialize.css-->
	  <link type="text/css" rel="stylesheet" href="/bower/materialize/dist/css/materialize.min.css"  media="screen,projection"/>

	  <!--Let browser know website is optimized for mobile-->
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	  <script type="text/javascript" src="/bower/materialize/dist/js/materialize.min.js"></script>
</head>

	