<template name="channels">
	<div class="channels-wrapper">
		<div class="row">
			<div class="card">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">Channel list</span>
				</div>
				<div class="collection">
					{{#each channels}}
						{{> channel}}
					{{/each}}
				</div>
				<div class="card-action">
					{{#if currentUser}}
					<form class="add-channel-form">
						<div class="input-field">
							<input type="text" name="name" id="name" />
							<label for="name">Create new channel</label>
						</div>
						<button class="btn waves-effect waves-light" type="submit" name="action">Save
								<i class="material-icons right">send</i>
						</button>
					</form>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="channel">
	<a href="{{pathFor route='messagesList'}}" class="collection-item {{#if isActive}} active {{/if}}">	
		#{{name}}
	</a>
</template>