<template name="messagesList">
	<div class="card-content messages-wrapper">
		<span class="card-title">Channel: <span>#{{ name }}</span></span>
		<div class="messages-container">
			<div class="collection">
				{{#each messages this._id}}
					{{> message}}
				{{/each}}
			</div>	
		</div>
	</div>
	<div class="card-action">
		{{> messageForm}}
	</div>
</template>

<template name="message">
	<div class="message collection-item avatar">
		<i class="material-icons circle">face</i>
		<span class="title">
			{{ userById userId }}
			<span class="date" data-date="{{ created_dt }}">{{ humanizeDate created_dt }}</span>
			{{#if edited}}
				<span class="edited">(edited)</span>
			{{/if}}
		</span>
		<div>{{text}}</div>

		<div class="secondary-content ">
			{{#if currentUser}}
				{{#if isOwner}}
				<a href="#!" class='edit-message' ><i class="material-icons">mode_edit</i></a>
				<a href="#!" class='delete-message'><i class="material-icons">delete</i></a>
				{{/if}}
			{{/if}}
		</div>
	</div>
</template>

<template name="messageForm">
	<div class="message-form">
		{{#if currentUser}}
			<form class="new-message">
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">mode_edit</i>
						<input type="text" name="text" id="text" />
						<label for="text">Write a message</label>
					</div>
					<div class="input-field col s12">
						<button class="btn waves-effect waves-light" type="submit" name="action">Send
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
			</form>
		{{/if}}
	</div>
</template>